<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{# ICI IL Y A LA NAVBAR #}
		<div class="d-flex justify-content-center">
			<div class='d-flex justify-content-center'>
				<div class="mb-3 d-flex justify-content-center">

					<nav class="navbar navbar-expand-lg">
						<div class="container-fluid">
							<button id='nav-btn' class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav me-auto mb-lg-0">
									<div class="background-one">
										<div class="link-container">
											<a class="nav-link fs-5 fw-normal link-one py-5" aria-current="page" href="{{ path('app_home') }}">
												<b>Accueil</b>
											</a>	
										</div>
									</div>
									<div class="background-one">
										<div class="link-container">
												<a class="nav-link fs-5 fw-normal link-one py-5" aria-current="page" href="{{ path('app_image') }}">
													<strong>
														<b>Dall-E</strong>
													</b>
												</a>
											
										</div>
									</div>
									<div class="background-one">
										<div class="link-container">
											
												<a class="nav-link fs-5 fw-normal link-one py-5" aria-current="page" href="{{ path('app_completion') }}">
													<strong>
														<b>DaVinci</strong>
													</b>
												</a>
											
										</div>
									</div>
									<div class="background-one">
										<div class="link-container">
											
												<a class="nav-link fs-5 fw-normal link-one py-5" aria-current="page" href="{{ path('app_chat') }}">
													<strong>
														<b>GPT 3.5 turbo</strong>
													</b>
												</a>
											
										</div>
									</div>
									<div class="background-one">
										<div class="link-container">
											
												<a class="nav-link fs-5 fw-normal link-one py-5" aria-current="page" href="{{ path('app_transcribe') }}">
													<strong>
														<b>Whisper</strong>
													</b>
												</a>
											
										</div>
									</div>
									{% if is_granted('ROLE_USER') %}
										<div class="background-one">
											<div class="link-container">
												
													<a class="nav-link fs-5 fw-normal link-one py-5" aria-current="page" href="{{ path('app_logout') }}">
														<b>Déconnexion</b>
													</a>
												
											</div>
										</div>
									{% else %}
										<div class="background-one">
											<div class="link-container">
												{# <li class="nav-item mx-2"> #}
													<a class="nav-link fs-5 fw-normal link-one py-5" aria-current="page" href="{{ path('app_login') }}">
														<b>Connexion</b>
													</a>
												{# </li> #}
											</div>
										</div>
									{% endif %}
									{% if not app.user %}
										<div class="background-one">
											<div class="link-container">
												{# <li class="nav-item mx-2"> #}
													<a class="nav-link fs-5 fw-normal link-one py-5" aria-current="page" href="{{ path('app_register') }}">
														<b>S'inscrire</b>
													</a>
												{# </li> #}
											</div>
										</div>
									{% endif %}

									{% if is_granted('ROLE_USER') %}
										<div class="background-one">
											<div class="link-container">
												{# <li class="nav-item mx-2"> #}
													<a class="nav-link fs-5 fw-normal link-one py-5" aria-current="page" href="{{ path('app_reservation_coach_calendar') }}">Profil</a>
												{# </li> #}
											</div>
										</div>
									{% endif %}

								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		{# FIN DE LA NAVBAR #}

		<div class="d-flex justify-content-center">
			<main>
				{% block body %}{% endblock %}
			</main>
		</div>
	</body>
</html>
